<footer class="page-footer footer-style-12 global_width">
  <div class="holder bgcolor bgcolor-1 py-5">
      <div class="container">
          <div class="subscribe-form subscribe-form--style1 subscribe-form--whitecolor">
              <form action="#">
                  <div class="form-inline">
                      <div class="subscribe-form-title">subscribe to newsletter:</div><input type="text" class="form-control" placeholder="Enter Your e-mail address"> <button type="submit" class="btn-decor">subscribe</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="container mt-3 mt-md-0">
      <div class="row py-0 py-md-5">
          <div class="col-md-6 col-lg-4 mb-15 mb-lg-0">
              <div class="footer-block">
                  <div class="footer-logo"><a href="#"><img src="assets/images/logo-footer-dark.png" class="img-fluid" alt=""></a></div>
                  <p>Lorem ipsum dolor sit amet consestuer adicpising elitr anno dolor sit amet. Lorem ipsum dolor sit amet consestuer adicpising.</p>
                  <div class="payment-icons"><img src="assets/images/payment/payment-card-visa.png" alt=""> <img src="assets/images/payment/payment-card-mastecard.png" alt=""> <img src="assets/images/payment/payment-card-discover.png" alt=""> <img src="assets/images/payment/payment-card-american-express.png" alt=""></div>
              </div>
          </div>
          <div class="d-none d-lg-flex col-lg-1"></div>
          <div class="col-md-6 col-lg">
              <div class="footer-block collapsed-mobile">
                  <div class="title">
                      <h4>Customer Service</h4>
                      <div class="toggle-arrow"></div>
                  </div>
                  <div class="collapsed-content">
                      <ul>
                          <li><a href="terms-of-use.html">Terms of Use</a></li>
                          <li><a href="privacy-policy.html">Privacy Policy</a></li>
                          <li><a href="faq.html">F.A.Q.</a></li>
                          <li><a href="contact.html">Contact Info</a></li>
                          <li><a href="account-create.html">Create Account</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg">
              <div class="footer-block collapsed-mobile">
                  <div class="title">
                      <h4>My Account</h4>
                      <div class="toggle-arrow"></div>
                  </div>
                  <div class="collapsed-content">
                      <ul>
                          <li><a href="account-details.html">My Account</a></li>
                          <li><a href="cart.html">View Cart</a></li>
                          <li><a href="account-wishlist.html">My Wishlist</a></li>
                          <li><a href="account-history.html">Order Status</a></li>
                          <li><a href="account-history.html">Track My Order</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg">
              <div class="footer-block collapsed-mobile">
                  <div class="title">
                      <h4>Information</h4>
                      <div class="toggle-arrow"></div>
                  </div>
                  <div class="collapsed-content">
                      <ul>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Site map</a></li>
                          <li><a href="#">sale</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container footer-bottom">
      <div class="row lined py-2 py-md-4 justify-content-center">
          <div class="col-md-6">
              <div class="footer-copyright text-center">
                  <p class="footer-copyright-text"><span>© Copyright</span> 2019 <a href="#">GoodwinStore</a>. <span>All rights reserved.</span></p>
                  <p class="footer-copyright-links"><a href="#">Terms & conditions</a> <a href="#">Privacy policy</a></p>
              </div>
          </div>
      </div>
  </div>
</footer>
